<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Add</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap JS + Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="blocks/header::header"></header>

<div >
    <form th:action="@{/test/${task.getTest().getId()}/task/${task.getId()}/add}" th:method="post">
        <div class="mb-3">
            <label for="questionInput" class="form-label">Вопрос:</label>
            <input type="text" class="form-control" id="questionInput" placeholder="Введите вопрос" name="question">
        </div>
        <div class="mb-3">
            <label for="quantityAnswerInput" class="form-label">Количество вариантов ответа</label>
            <select class="form-control" id="quantityAnswerInput" name="quantity">
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button th:type="submit" class="btn btn-primary">Продолжить</button>
    </form>
</div>

<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>