

<div th:fragment="test (test)">
    <h2>Название:</h2>
    <h3 th:text = "${test.getTitle()}"></h3>
    <h2>Автор:</h2>
    <h3 th:text = "${test.getAuthor().getUsername()}"></h3>
    <h2>Описание:</h2>
    <h3 th:text = "${test.getDescription()}"></h3>
<!--добавить вывод  попыток пользователя-->
    <form th:action="@{/current-attempt}">
        <button type="submit">Начать решать тест</button>
    </form>
    <br>

    <a th:href="${test.getId()} + '/tasks'">Список задач</a>
    <a th:href="${test.getId()} + '/task/add'">Добавить задачу</a>



</div>