<div th:fragment = "test-card(test)">
    <div class="card mb-3" style="width: 18 rem;">
        <img class="card-img" height="100px" width="100px" th:src="${test.getImage()}" alt="картинка">

        <div class="card-body">
            <h5 th:text = "${test.getTitle()}"></h5>

            <p class="card-text" th:text="${test.getDescription()}"></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                    <a th:href="'/test/' + ${test.getId()}" class="btn btn-sm btn-outline-secondary">View</a>
                    <a th:href="'/test/' + ${test.getId()} + '/edit'" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a th:href="'/test/' + ${test.getId()} + '/remove'" class="btn btn-sm btn-outline-secondary">Delete</a>

                </div>

            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted" th:text="${test.getAuthorName()}"></small>
        </div>
    </div>
</div>